<header class="header">
    <a href="/">Logo</a>
    <nav>
        <ul class="menu">
            <li><a href="javascript:startRec()"> Init Rec </a></li>
            <li><a href="javascript:stopRec()"> Stop Rec </a></li>
            <li><a href="javascript:renderPreview()"> Render </a></li>
        </ul>
    </nav>
</header>
<section class="container-flex">
    <aside class="code-editor">
        <h3>Editor</h3>
    </aside>
    <aside class="code-viwer">
        <h3>Viwer</h3>
    </aside>    
</section>