<header>
    <a href="/">Logo</a>
    <nav>
        <li>
            <li><a href="/rec"> Init Rec </a></li>
            <li><a href="/stop"> Stop Rec </a></li>
            <li><a href="/render"> Render </a></li>
        </li>
    </nav>
</header>